*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font:'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    font-family: var(--font);
    color:hsla(176, 84%, 95%, 1);
    display:flex;

    min-height: 100vh;
    justify-content: center;
    align-items: center;

    line-height: 1.4;
}

.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    min-height: 100vh;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.header{
    display:flex;
    justify-content: space-between;
}

.social a{
    text-decoration: none;
}

.social .icon{
    margin:0.7rem;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .about h1{
    margin-bottom: .5rem;
}

.main .projects{
    padding-top:2rem;
}

.projects .project{
    display:flex;
    padding:1rem;
    margin-top:1rem;
    flex-direction: column;
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
}

.projects .project h2{
    line-height: 1;
    margin-bottom:1rem;
}

.project-content{
    display:flex;
    justify-content:  space-between;
}

.project-content #mobile {
    display:none;
}

.project:nth-child(odd) .project-content{
    flex-direction: row-reverse;
}

.project-info {
    width: calc(60% - 1rem);
}

.project-image{
    border-radius: 5px;
    width: 40%;
    display: block;
    height:auto;
    object-fit: contain;
}

.project-image-clicked{
    z-index: 2;
    width: 60%;
}

.icon:hover {
    opacity: .6;
}

#glslCanvas{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


@media (max-width: 960px){
    .project-content{
        flex-direction: column !important;
    }
    .project-info{
        width: 100%;
    }
    .project-info #desktop{
        display:none
    }
    .project-content #mobile {
        display:block;
    }

    .project-image{
        width:100%;
    }
}
